.container
  %h1 Add a new task
  .content
    = simple_form_for(@task) do |f|
      = f.input :title
      = f.input :details
      = f.input :completed
      = f.button :submit, 'Update task', class: 'btn'
      = link_to "Back", tasks_path, class: 'btn'
